@import "codepen.css";
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

img {
    width: 250px;
    height: 300px;
    top: 10px;
    left: 100px;
    padding-top: 10px;
}

body {
    background-color: #EBEBE0;
    font-family: 'Oxygen', serif;
}

span {
    font-family: Verdana, serif;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

#outerContainer {
    width: 95%;
}

#BerniePic {
    float: right;
    outline: rgba(255, 0, 0, 0.3);  /* r=red, g=green, b=blue a=alpha (opacity) */
    box-shadow: 10px 10px 5px #888888;
    width: 20%
    padding: 5px;
}

#aboutBernie {
    display: inline-block;
    top: 10px;
    left: 30px;
    padding-top: 10px;
    margin: 10px;
    float: left;
    width: 75%;
}

#petIssues {
    display: inline-block;
    padding-top: 5px;
    margin: 5px;
    clear: both;
    width: auto;
}

#reasonsToVote {
    display: inline-block;
    padding-top: 5px;
    margin: 5px;
    float: left;
    width: 50%;
}

#BernieSocial {
    float:right;
    width: 10%
    padding: 5px;
}


