/* http://webdesign.tutsplus.com/articles/css3-web-fonts-and-icons--webdesign-15151 */

img {
    width: 250px;
    height: 250px;
    top: 10px;
    left: 100px;
    padding-top: 20px;
}

/*
div {
    position: relative;
    display: block;
    float: right;
    top: 300px;
    left: 300px;
    padding-top: 100px;
}
*/

/* Set menu to be fixed, not affected by scrolling the page up or down */
#menuContainer {
        position: fixed;
        top: 0;
        left: 10;
        z-index: 9999;
        width: 95%;
        height: 70px;
        background-color: #000000;
        border: solid black;
        font-family: Verdana, serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff,
                     0 0 30px #fff,
                     0 0 40px #CC29A3,
                     0 0 50px #CC29A3,
                     0 0 60px #CC29A3,
                     0 0 70px #CC29A3,
                     0 0 80px #CC29A3;
}

/* Remove default padding from the menu list - i.e. the bullets */
#menuContainer ul {
        height: auto;
        padding: 8px 0px;
        margin: 0px;
}

/* set the menu to display horizontally, with spacing between menu items */
#menuContainer li { 
        display: inline; 
        line-height: 50px;
        padding: 30px 30px 30px 30px; 
        font-color: #E6E6E6;
}

/* remove the underline from the menu list items */
#menuContainer a {
    text-decoration: none;
}

#BerniePic {
    float: left;
    outline: rgba(255, 0, 0, 0.3);  /* r=red, g=green, b=blue a=alpha (opacity) */
}

#aboutBernie {
    display: block;
    top: 300px;
    left: 300px;
    padding-top: 100px;
    margin: 20px;
}

#petIssues {
    display: block;
    padding-top: 100px;
    margin: 20px;

}

#reasonsToVote {
    display: block;
    padding-top: 100px;
    margin: 20px;

}

/*
*:after {
    box-shadow: none;
}
*/



